ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

ul li {
    border: 1px solid #ddd; /* Add a thin border to each list item */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Add a grey background color */
    padding: 5px; /* Add some padding */
}

a {
    text-decoration: none;
    color:#0192D1;
}

a:visited {
    color: #0192D1;
}

a:hover {
    text-decoration: underline;
    color: #00B3FF
}

img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

body {
    width: 350px;
}

#control {
    margin-bottom: 10px;
}

#control button {
    margin-right: 8px;
}